<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="home">
    <div class="menu">
      <div class="home-5">
        <img class="icons" src="icons0.png" />
        <div class="home2">Home</div>
      </div>
      <div class="home-4">
        <img class="prueba" src="prueba0.png" />
      </div>
      <div class="home-1">
        <img class="prueba2" src="prueba1.png" />
      </div>
      <div class="home-2">
        <img class="frame-4" src="frame-40.png" />
      </div>
      <div class="home-3">
        <img class="prueba2" src="prueba2.png" />
      </div>
    </div>
    <div class="scroll-vertical">
      <div class="rec-1">
        <div class="rectangle-5"></div>
        <div class="transferencias">Transferencias</div>
        <div class="line-4"></div>
        <div class="rectangle-6"></div>
        <div class="transferir">Transferir</div>
        <div class="rectangle-7"></div>
        <div class="recibir">Recibir</div>
        <img class="arrow-1" src="arrow-10.svg" />
      </div>
      <div class="rec-2">
        <div class="rec-12">
          <div class="rectangle-5"></div>
          <div class="transferencias">Cuenta Banorte</div>
          <div class="line-4"></div>
        </div>
        <div class="rectangle-8"></div>
        <div class="rectangle-9"></div>
        <div class="_0138-4501-2345-6789">0138 4501 2345 6789</div>
        <div class="saldo-disponible-5000-00-mxn">
          Saldo Disponible: 5000.00 MXN
        </div>
        <div class="no">No.</div>
      </div>
    </div>
    <div class="banorte">BANORTE</div>
    <div
      class="frame-2"
      style="
        background: url(frame-20.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <img class="rectangle-11" src="rectangle-110.png" />
    </div>
    <img class="image-1" src="image-10.png" />
  </div>
  
</body>
</html>